.dwyl-teal {
  color: #4BC0A9;
}

.b--dwyl-dark-teal {
  border-color: #43ac98;
}

.bg-dwyl-teal {
  background-color: #6eccba;
}

.bg-dwyl-dark-teal {
  background-color: #43ac98;
}
.b--dwyl-darkest-teal {
  border-color: #348676;
}

@media (min-width: 600px) {
  .w-62-ns {
    width: 62%;
  }
}
