<article class="sans-serif w-70 center mb5">
  <h1 class="bb b--black-10">Buttons</h1>
  <h2>Button tags</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <button type="button" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 bg-animate hover-bg-light-gray border-box">Default</button>
    <button type="button" class="pointer br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 bg-animate hover-bg-navy border-box">Primary</button>
    <button type="button" class="pointer br2 ba b--dark-green bg-green white pa2 ml1 mv1 bg-animate hover-bg-dark-green border-box">Success</button>
    <button type="button" class="pointer br2 ba b--dark-blue bg-blue white pa2 ml1 mv1 bg-animate hover-bg-dark-blue border-box">Info</button>
    <button type="button" class="pointer br2 ba b--blue bg-light-blue white pa2 ml1 mv1 bg-animate hover-bg-blue border-box">Info</button>
    <button type="button" class="pointer br2 ba b--orange bg-gold white pa2 ml1 mv1 bg-animate hover-bg-orange border-box">Warning</button>
    <button type="button" class="pointer br2 ba b--dark-red bg-red white pa2 ml1 mv1 bg-animate hover-bg-dark-red border-box">Danger</button>
    <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
    <button type="button" class="bn bg-white blue underline-hover hover-dark-blue pointer border-box">Link</button>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltbutton type="button" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 bg-animate hover-bg-light-gray border-box"&gtDefault&lt/button&gt
&ltbutton type="button" class="pointer br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 bg-animate hover-bg-navy border-box"&gtPrimary&lt/button&gt
&ltbutton type="button" class="pointer br2 ba b--dark-green bg-green white pa2 ml1 mv1 bg-animate hover-bg-dark-green border-box"&gtSuccess&lt/button&gt
&ltbutton type="button" class="pointer br2 ba b--dark-blue bg-blue white pa2 ml1 mv1 bg-animate hover-bg-dark-blue border-box"&gtInfo&lt/button&gt
&ltbutton type="button" class="pointer br2 ba b--blue bg-light-blue white pa2 ml1 mv1 bg-animate hover-bg-blue border-box"&gtInfo&lt/button&gt
&ltbutton type="button" class="pointer br2 ba b--orange bg-gold white pa2 ml1 mv1 bg-animate hover-bg-orange border-box"&gtWarning&lt/button&gt
&ltbutton type="button" class="pointer br2 ba b--dark-red bg-red white pa2 ml1 mv1 bg-animate hover-bg-dark-red border-box"&gtDanger&lt/button&gt
&ltbutton type="button" class="bn bg-white blue underline-hover hover-dark-blue pointer border-box"&gtLink&lt/button&gt</pre>
  </div>

  <h2>Sizes</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p>
      <button type="button" class="pointer br2 ba b--navy bg-dark-blue white pa3 ml1 mv1 f4 shadow-hover bg-animate hover-bg-navy border-box">Large button</button>
      <button type="button" class="pointer br2 ba b--black-20 bg-white pa3 ml1 mv1 f4 bg-animate hover-bg-light-gray border-box">Large button</button>
    </p>
    <p>
      <button type="button" class="pointer br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 bg-animate hover-bg-navy border-box">Default button</button>
      <button type="button" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 hover-bg-light-gray border-box">Default button</button>
    </p>
    <p>
      <button type="button" class="pointer br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 f6 bg-animate hover-bg-navy border-box">Small button</button>
      <button type="button" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 f6 hover-bg-light-gray border-box">Small button</button>
    </p>
    <p>
      <button type="button" class="pointer br2 ba b--navy bg-dark-blue white pa1 ml1 mv1 f7 lh-title bg-animate hover-bg-navy border-box">Extra small button</button>
      <button type="button" class="pointer br2 ba b--black-20 bg-white pa1 ml1 mv1 f7 lh-title bg-animate hover-bg-light-gray border-box">Extra small button</button>
    </p>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltp&gt
  &ltbutton type="button" class="pointer br2 ba b--navy bg-dark-blue white pa3 ml1 mv1 f4 shadow-hover bg-animate hover-bg-navy border-box"&gtLarge button&lt/button&gt
  &ltbutton type="button" class="pointer br2 ba b--black-20 bg-white pa3 ml1 mv1 f4 bg-animate hover-bg-light-gray border-box"&gtLarge button&lt/button&gt
&lt/p&gt
&ltp&gt
  &ltbutton type="button" class="pointer br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 bg-animate hover-bg-navy border-box"&gtDefault button&lt/button&gt
  &ltbutton type="button" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 hover-bg-light-gray border-box"&gtDefault button&lt/button&gt
&lt/p&gt
&ltp&gt
  &ltbutton type="button" class="pointer br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 f6 bg-animate hover-bg-navy border-box"&gtSmall button&lt/button&gt
  &ltbutton type="button" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 f6 hover-bg-light-gray border-box"&gtSmall button&lt/button&gt
&lt/p&gt
&ltp&gt
  &ltbutton type="button" class="pointer br2 ba b--navy bg-dark-blue white pa1 ml1 mv1 f7 lh-title bg-animate hover-bg-navy border-box"&gtExtra small button&lt/button&gt
  &ltbutton type="button" class="pointer br2 ba b--black-20 bg-white pa1 ml1 mv1 f7 lh-title bg-animate hover-bg-light-gray border-box"&gtExtra small button&lt/button&gt
&lt/p&gt</pre>
  </div>

  <h3>Block level button</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <div class="db tc w5 bg-light-gray pa3 br2 ba b--black-10">
      <button type="button" class="pointer br2 ba b--navy bg-dark-blue white pa2 db w-100 bg-animate hover-bg-navy border-box">Block level button</button>
      <button type="button" class="pointer br2 ba b--black-20 bg-white pa2 mt2 db w-100 bg-animate hover-bg-light-gray border-box">Block level button</button>
    </div>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdiv class="db tc w5 bg-light-gray pa3 br2 ba b--black-10"&gt
  &ltbutton type="button" class="pointer br2 ba b--navy bg-dark-blue white pa2 db w-100 bg-animate hover-bg-navy border-box"&gtBlock level button&lt/button&gt
  &ltbutton type="button" class="pointer br2 ba b--black-20 bg-white pa2 mt2 db w-100 bg-animate hover-bg-light-gray border-box"&gtBlock level button&lt/button&gt
&lt/div&gt</pre>
  </div>

  <h2>Active State</h2>
  <h3>Button element</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <button type="button" class="pointer br2 ba b--dark-gray bg-navy white pa2 ml1 mv1 shadow-1 bg-animate hover-bg-near-black border-box">Primary button</button>
    <button type="button" class="pointer br2 ba b--black-20 bg-light-gray pa2 ml1 mv1 shadow-1 bg-animate hover-bg-moon-gray border-box">Button</button>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltbutton type="button" class="pointer br2 ba b--dark-gray bg-navy white pa2 ml1 mv1 shadow-1 bg-animate hover-bg-near-black border-box"&gtPrimary button&lt/button&gt
&ltbutton type="button" class="pointer br2 ba b--black-20 bg-light-gray pa2 ml1 mv1 shadow-1 bg-animate hover-bg-moon-gray border-box"&gtButton&lt/button&gt</pre>
  </div>

  <h3>Anchor element</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <a href="#" class="pointer br2 ba b--dark-gray bg-navy white pa2 ml1 mv1 shadow-1 bg-animate hover-bg-near-black link border-box">Primary Link</a>
    <a href="#" class="pointer br2 ba b--black-20 bg-light-gray black pa2 ml1 mv1 shadow-1 bg-animate hover-bg-moon-gray link border-box">Link</a>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&lta href="#" class="pointer br2 ba b--dark-gray bg-navy white pa2 ml1 mv1 shadow-1 bg-animate hover-bg-near-black link border-box"&gtPrimary Link&lt/a&gt
&lta href="#" class="pointer br2 ba b--black-20 bg-light-gray black pa2 ml1 mv1 shadow-1 bg-animate hover-bg-moon-gray link border-box"&gtLink&lt/a&gt</pre>
  </div>

  <h2>Disabled State</h2>
  <h3>Button element</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <button type="button" disabled="disabled" class="br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 cursor-not-allowed o-60 border-box">Primary button</button>
    <button type="button" disabled="disabled" class="br2 ba b--black-20 bg-white pa2 ml1 mv1 cursor-not-allowed o-60 border-box">Button</button>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltbutton type="button" disabled="disabled" class="br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 cursor-not-allowed o-60 border-box"&gtPrimary button&lt/button&gt
&ltbutton type="button" disabled="disabled" class="br2 ba b--black-20 bg-white pa2 ml1 mv1 cursor-not-allowed o-60 border-box"&gtButton&lt/button&gt</pre>
  </div>

  <h3>Anchor element</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <a href="#" class="br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 link cursor-not-allowed o-60 border-box">Primary Link</a>
    <a href="#" class="br2 ba b--black-20 bg-white black pa2 ml1 mv1 link cursor-not-allowed o-60 border-box">Link</a>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&lta href="#" class="br2 ba b--navy bg-dark-blue white pa2 ml1 mv1 link cursor-not-allowed o-60 border-box"&gtPrimary Link&lt/a&gt
&lta href="#" class="br2 ba b--black-20 bg-white black pa2 ml1 mv1 link cursor-not-allowed o-60 border-box"&gtLink&lt/a&gt</pre>
  </div>
</article>
