<article class="sans-serif w-70 center mb5">
  <h1>Code</h1>

  <h3>Inline</h3>
  <p>Wrap inline snippets of code in
    <code class="red bg-washed-red ph1 br2">&ltcode&gt</code>.
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p>
      For example, <code class="red bg-washed-red ph1 br2">&ltsection&gt</code>
      should be wrapped as inline.
    </p>
  </div>

  <h3>User input</h3>
  <p>
    Use the <code class="red bg-washed-red ph1 br2">&ltkdb&gt</code> to indicate
    that it is typically entered via keyboard.
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p>
      To switch directories, type <kbd class="white bg-black-80 ph1 br2">cd</kbd>
      followed by the name of the directory.<br>
      To edit settings, press <kbd class="white bg-black-80 ph1 br2">ctrl + ,</kbd>
    </p>
  </div>

  <h3>Basic block</h3>
  <p>
    Use <code class="red bg-washed-red ph1 br2">&ltpre&gt</code> for
    multiple lines of code.
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <pre class="br2 ba b--black-10 bg-light-gray pt3 pre">
      &ltp&gtSample text here&ltp&gt
    </pre>
  </div>

  <h3>Variables</h3>
  <p>
    For indicating variables use the
    <code class="red bg-washed-red ph1 br2">&ltvar&gt</code> tag.
  </p>

  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <var>y</var> = <var>mx</var> + <var>b</var>
  </div>
</article>
