<article class="sans-serif w-70 center">
  <ul class="list pl0 ml0 cf">
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#000000" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> black </b> <code class="f6">#000000</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FFFF00" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <code class="f6">#FFFF00</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#111111" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> near-black </b> <code class="f6">#111111</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#333333" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db">  dark-gray </b> <code class="f6">#333333</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#555555" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db">mid-gray </b> <code class="f6">#555555</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#777777" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> gray</b> <code class="f6">#777777</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#999999" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> silver</b> <code class="f6">#999999</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#AAAAAA" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> light-silver</b> <code class="f6">#AAAAAA</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#CCCCCC" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> moon-gray </b> <code class="f6">#CCCCCC</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#EEEEEE" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> light-gray</b> <code class="f6">#EEEEEE</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#F4F4F4" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> near-white</b> <code class="f6">#F4F4F4</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FFFFFF" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> white </b> <code class="f6">#FFFFFF</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#E7040F" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> dark-red </b> <code class="f6">#E7040F</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FF4136" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> red </b> <code class="f6">#FF4136</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FF725C" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> light-red </b> <code class="f6">#FF725C</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FF6300" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> orange </b> <code class="f6">#FF6300</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FFB700" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> gold </b> <code class="f6">#FFB700</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FFD700" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> yellow </b> <code class="f6">#FFD700</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FBF1A9" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> light-yellow </b> <code class="f6">#FBF1A9</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#5E2CA5" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> purple </b> <code class="f6">#5E2CA5</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#A463F2" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> light-purple </b> <code class="f6">#A463F2</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#D5008F" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> dark-pink </b> <code class="f6">#D5008F</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FF41B4" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> hot-pink </b> <code class="f6">#FF41B4</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FF80CC" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> pink </b> <code class="f6">#FF80CC</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FFA3D7" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> light-pink </b> <code class="f6">#FFA3D7</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#137752" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> dark-green </b> <code class="f6">#137752</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#19A974" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> green </b> <code class="f6">#19A974</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#9EEBCF" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> light-green </b> <code class="f6">#9EEBCF</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#001B44" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> navy </b> <code class="f6">#001B44</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#00449E" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> dark-blue </b> <code class="f6">#00449E</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#357EDD" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> blue </b> <code class="f6">#357EDD</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#96CCFF" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> light-blue </b> <code class="f6">#96CCFF</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#CDECFF" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> lightest-blue </b> <code class="f6">#CDECFF</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#F6FFFE" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> washed-blue</b> <code class="f6">#F6FFFE</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#E8FDF5" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> washed-green </b> <code class="f6">#E8FDF5</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FFFCEB" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> washed-yellow</b> <code class="f6">#FFFCEB</code> </div>
	</li>
	<li class="fl w-100 w-50-m w-25-l mb1">
		<div style="background-color:#FFDFDF" class="fl w-40 pv4"></div>
		<div class="fl w-60 lh-copy pl2 pt2"> <b class="db"> washed-red</b> <code class="f6">#FFDFDF</code> </div>
	</li>
</ul>
</article>

