<article class="sans-serif w-70 center mb5">
  <h1 class="bb b--black-10">Customisation</h1>
  <p>
    Bootstrap has sections about helper classes, responsive utilities and using
    Less. As Tachyons Boostrap is built using Tachyons you can find the
    information covered in these sections in the Tachyons documentation:
    <a href="https://tachyons.io/docs/" class="black">https://tachyons.io/docs/</a>.
    There you can find sections on everything from
    <a href="https://tachyons.io/docs/themes/skins/" class="black">colors</a> to
    <a href="https://tachyons.io/docs/layout/spacing/" class="black">spacing</a> and much more
    in between.
  </p>
</article>
