<article class="sans-serif w-70 center">
  <h1 class="bb b--black-10">Forms</h1>
  <h2>Basic example</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <form>
      <div class="mv3">
        <label class="fw7 f6" for="exampleInputEmail1">Email address</label>
        <input type="email" class="db w-100 pa2 mt2 br2 b--black-20 f6" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="mv3">
        <label class="fw7 f6" for="exampleInputPassword1">Password</label>
        <input type="password" class="db w-100 pa2 mt2 br2 b--black-20 f6" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="mv3">
        <label class="fw7 f6" for="exampleInputFile">File input</label>
        <input class="mt2 f7 w-100" type="file" id="exampleInputFile">
        <p class="gray f6 mt2">Example block-level help text here.</p>
      </div>
      <div class="mv3">
        <label class="f6 pointer">
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 bg-animate hover-bg-light-gray f6">Submit</button>
    </form>
  </div>

  <h2>Inline form</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <form>
      <div class="mv3 dib">
        <label class="fw7 f6" for="exampleInputName1">Name</label>
        <input type="text" class="pa2 mt2 br2 b--black-20 f6" id="exampleInputName1" placeholder="Jane Doe">
      </div>
      <div class="mv3 dib">
        <label class="fw7 f6" for="exampleInputEmail2">Email</label>
        <input type="email" class="pa2 mt2 br2 b--black-20 f6" id="exampleInputEmail2" placeholder="jane.doe@example.com">
      </div>
      <button type="submit" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 bg-animate hover-bg-light-gray f6">Send invitation</button>
    </form>
  </div>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <form>
      <div class="mv3 dib">
        <label class="absolute pa0 ma0 o-0" for="exampleInputEmail3">Email address</label>
        <input type="email" class="pa2 mt2 br2 b--black-20 f6" id="exampleInputEmail3" placeholder="Email">
      </div>
      <div class="mv3 dib">
        <label class="absolute pa0 ma0 o-0" for="exampleInputPassword3">Password</label>
        <input type="password" class="pa2 mt2 br2 b--black-20 f6" id="exampleInputPassword3" placeholder="Password">
      </div>
      <div class="mv3 dib">
        <label class="f6 pointer">
          <input type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="pointer br2 ba b--black-20 bg-white pa2 ml1 mv1 bg-animate hover-bg-light-gray f6">Sign in</button>
    </form>
  </div>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <form class="db">
      <div class="mv3 dib">
        <label class="absolute pa0 ma0 o-0" for="exampleInputAmount">Amount (in dollars)</label>
        <div class=" relative mv3 dt dib">
          <div class="bg-light-gray b--black-20 bb bt bl pa2 br2 br--left dtc dib">$</div>
          <input type="text" class="dtc pa2 b--black-20 dib bt bb bw1 w-100" id="exampleInputAmount" placeholder="Amount">
          <div class="bg-light-gray b--black-20 ba bl-0 pa2 br2 br--right dtc dib">.00</div>
        </div>
      </div>
      <button type="submit" class=" dib pointer br2 ba b--navy bg-dark-blue white pa2 ml1 mt4 bg-animate hover-bg-navy v-top">Transfer cash</button>
    </form>
  </div>

  <h2>Horizontal form</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <form>
      <div class="mv3">
        <label for="inputEmail3" class="fw7 f6">Email</label>
        <input type="email" class="db w-100 pa2 mt2 br2 b--black-20 f6" id="inputEmail3" placeholder="Email">
      </div>
      <div class="mv3">
        <label for="inputPassword3" class="fw7 f6">Password</label>
        <input type="password" class="db w-100 pa2 mt2 br2 b--black-20 f6" id="inputPassword3" placeholder="Password">
      </div>
      <label class="f6 pointer">
        <input type="checkbox"> Remember me
      </label>
      <div class="form-group">
          <button type="submit" class="pointer br2 ba b--black-20 bg-white pa2 mv3 bg-animate hover-bg-light-gray f6">Sign in</button>
      </div>
    </form>
  </div>

  <h2>Supported controls</h2>
  <h3>Inputs</h3>

  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <input type="text" class="db w-100 pa2 mt2 br2 b--black-20 f6" placeholder="Text input">
  </div>

  <h3>Textarea</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <textarea class="db w-100 pa2 mt2 br2 b--black-20 f6" rows="3" placeholder="Textarea"></textarea>
  </div>

  <h3>Checkboxes and radios</h3>
  <h4>Default (stacked)</h4>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <div class="mv2 f6">
      <label>
        <input type="checkbox" value="">
        Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div>
    <div class="mv2 f6">
      <label>
        <input type="checkbox" value="" class="cursor-not-allowed" disabled>
        Option two is disabled
      </label>
    </div>

    <div class="mb2 mt4 f6">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div>
    <div class="mv2 f6">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Option two can be something else and selecting it will deselect option one
      </label>
    </div>
    <div class="mv2 f6">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" class="cursor-not-allowed" disabled>
        Option three is disabled
      </label>
    </div>
  </div>

  <h4>Inline checkboxes and radios</h4>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <form>
      <label class="dib">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
      </label>
      <label class="dib">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
      </label>
      <label class="dib">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
      </label>
    </form>
    <br>
    <form>
      <label>
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
      </label>
      <label>
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
      </label>
      <label>
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
      </label>
    </form>
  </div>

  <h4>Checkboxes and radios without label text</h4>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <div class="db mv3">
      <label>
        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
      </label>
    </div>
    <div class="db mv3">
      <label>
        <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
      </label>
    </div>
  </div>

  <h3>Selects</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <select class="w-100 f6 h2 bg-white ma1 b--black-20 ">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <select multiple class="w-100 br2 b--black-20 ph3 pv1 f6">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <h3>Static control</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <form class="w-100">
        <label class="fw7 f6 tr w-20 dib mr2">Email</label>
        <p class="f6 dib">email@example.com</p>
        <br>
        <div class="w-100 mt2">
          <label for="inputPassword" class="fw7 f6 tr w-20 dib mr2">Password</label>
          <input type="password" class="pa2 br2 b--black-20 f6 w-70" id="inputPassword" placeholder="Password">
        </div>
    </form>
  </div>

  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <form class="w-100 mt2">
        <label class="f6 tr w-30 dib mr2">email@example.com</label>
        <input type="password" class="pa2 br2 b--black-20 f6 w-60" id="inputPassword" placeholder="Password">
    </form>
  </div>

  <h3>Focus state</h3>
  <p class="mt0 f6 fw6 silver">EXAMPLE</p>
  <form class="w-100 mt2">
    <input type="text" class="pa2 br2 b--light-blue f6 w-60 shadow-2" placeholder="Demonstrative focus state">
  </form>

  <h3>Disabled state</h3>
  <p class="mt0 f6 fw6 silver">EXAMPLE</p>
  <form class="w-100 mt2">
    <input type="text" class="pa2 br2 b--black-20 bg-black-10 f6 w-60" placeholder="Disabled input here..." disabled>
  </form>

  <h4>Disable fieldsets</h4>
  <p class="mt0 f6 fw6 silver">EXAMPLE</p>
  <fieldset class="w-100 mt2" disabled>
    <div class="mv3">
      <label class="fw7 f6" for="disabled-input">Disabled input</label>
      <input id="disabled-input" type="text" class="db w-100 pa2 mt2 br2 b--black-20 f6 bg-black-10" placeholder="Disabled input">
    </div>

    <div class="mv3">
      <label class="fw7 f6" for="disabled-select">Disabled select</label>
      <select id="disabled-select" class="w-100 f6 h2 mv1 ba b--black-20 bg-black-10">
        <option>Disabled select</option>
        <option>Can't see this</option>
      </select>
    </div>

    <div class="mv3">
      <label class="f6">
        <input type="checkbox"> Can't check this
      </label>
    </div>
  </fieldset>

  <h3>Read only state</h3>
  <p class="mt0 f6 fw6 silver">EXAMPLE</p>
  <form class="w-100 mt2">
    <input type="text" class="pa2 br2 b--black-20 bg-black-10 f6 w-100" placeholder="Readonly input here..." readonly>
  </form>

  <h3>Help text</h3>
  <p class="mt0 f6 fw6 silver">EXAMPLE</p>
  <div class="mv3">
    <label for="inputHelpBlock" class="fw7 f6">Email</label>
    <input type="text" class="db w-100 pa2 mt2 br2 b--black-20 f6" id="inputHelpBlock" aria-describedby="helpBlock">
    <p id="helpBlock" class="f6 black-60 mt3">
      A block of help text that breaks onto a new line and may extend beyond
      one line.
    </p>
  </div>

  <h3>Validation states</h3>
  <p class="mt0 f6 fw6 silver">EXAMPLE</p>
  <div class="mv3">
    <label for="inputSuccess1" class="fw7 f6 green">Email</label>
    <input type="text" class="db w-100 pa2 mt2 br2 b--green f6" id="inputSuccess1" aria-describedby="helpBlock2">
    <p id="helpBlock2" class="f6 green mt3">
      A block of help text that breaks onto a new line and may extend beyond
      one line.
    </p>
  </div>

  <div class="mv3">
    <label for="inputWarning1" class="fw7 f6 gold">Email</label>
    <input type="text" class="db w-100 pa2 mt2 br2 b--gold f6" id="inputWarning1">
  </div>

  <div class="mv3">
    <label for="inputError1" class="fw7 f6 dark-red">Email</label>
    <input type="text" class="db w-100 pa2 mt2 br2 b--dark-red f6" id="inputError1">
  </div>

  <div class="mv3">
    <label class="f6 green">
      <input type="checkbox"> Checkbox with success
    </label>
  </div>

  <div class="mv3">
    <label class="f6 gold">
      <input type="checkbox"> Checkbox with warning
    </label>
  </div>

  <div class="mv3">
    <label class="f6 dark-red">
      <input type="checkbox"> Checkbox with error
    </label>
  </div>

  <h3>Control sizing</h3>
  <h4>Height sizing</h4>
  <p class="mt0 f6 fw6 silver">EXAMPLE</p>
  <input type="email" class="db w-100 pv3 ph2 mt2 br2 b--black-20 f4" placeholder="pv3 input">
  <input type="email" class="db w-100 pa2 mt2 br2 b--black-20" placeholder="pa2 input">
  <input type="email" class="db w-100 pa2 mt2 br2 b--black-20 f6" placeholder="pa2 f6 input">

  <select class="w-100 f4 h3 mt3 mb2 ba b--black-20 bg-white">
    <option>h3 select</option>
  </select>
  <select class="w-100 h2 mv2 ba b--black-20 bg-white">
    <option>h2 select</option>
  </select>
  <select class="w-100 f6 h2 mv2 ba b--black-20 bg-white">
    <option>h2 f6 select</option>
  </select>

  <h4>Horizontal form group sizes</h4>
  <div class="mv3">
    <label for="inputLarge" class="fw7 f6">Large label</label>
    <input type="email" id="inputLarge" class="db w-100 pv3 ph2 mt2 br2 b--black-20 f4" placeholder="pa3 input">
  </div>

  <div class="mv3">
    <label for="inputSmall" class="fw7 f6">Small label</label>
    <input type="email" id="inputSmall" class="db w-100 pa2 mt2 br2 b--black-20 f6" placeholder="pv2 f6 input">
  </div>

  <h4>Column sizing</h4>
  <input type="text" class="pa2 w-10 mt2 br2 b--black-20 f6" placeholder="w-10">
  <input type="text" class="pa2 w-25 mt2 ml3 br2 b--black-20 f6" placeholder="w-25">
  <input type="text" class="pa2 w-third mt2 ml3 br2 b--black-20 f6" placeholder="w-third">
</article>
