<article class="sans-serif w-70 center">
  <h1 class="bb b--black-10">Grid system</h1>
  <h2>Media queries</h2>
  <p>We use the following media queries in our files to create the key breakpoints in our grid system:</p>
  <img src="https://cloud.githubusercontent.com/assets/16775804/26623930/368e46f2-45e7-11e7-9b86-99bfe1c9d3e0.png" width=500px />
  <h2>Grid options</h2>
  <h2>Example: Stacked-to-horizontal</h2>
  <p>
    Since tachyons uses percentages for its grid system, the default behaviour
    is to maintain the same number of columns across with each column resizing
    responsively. The examples below will result in the same number
    of columns across for all screen sizes.
  </p>
  <div class="">
    <div class="w-100 h3">
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
      <div class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-10</div>
    </div>

    <div class="w-100 h3">
      <div class="fl w-two-thirds pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-two-thirds</div>
      <div class="fl w-third pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-third</div>
    </div>

    <div class="w-100 h3">
      <div class="fl w-third pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-third</div>
      <div class="fl w-third pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-third</div>
      <div class="fl w-third pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-third</div>
    </div>

    <div class="w-100 h3">
      <div class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50</div>
      <div class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50</div>
    </div>
  </div>

  <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdiv class="w-100 h3"&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
  &ltdiv class="fl w-10 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-10&lt/div&gt
&lt/div&gt

&ltdiv class="w-100 h3"&gt
  &ltdiv class="fl w-two-thirds pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-two-thirds&lt/div&gt
  &ltdiv class="fl w-third pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-third&lt/div&gt
&lt/div&gt

&ltdiv class="w-100 h3"&gt
  &ltdiv class="fl w-third pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-third&lt/div&gt
  &ltdiv class="fl w-third pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-third&lt/div&gt
  &ltdiv class="fl w-third pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-third&lt/div&gt
&lt/div&gt

&ltdiv class="w-100 h3"&gt
  &ltdiv class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50&lt/div&gt
  &ltdiv class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50&lt/div&gt
&lt/div&gt
</pre>

  <p>
    You can also stack content on mobile with a horizontal grid display on
    tablet and desktop. The examples below will stack and display full width
    on mobile, and display horizontally on tablet and desktop.
  </p>

  <div class="">
    <div class="w-100 h5 mb6 h4-m h3-l mb4-m mb4-l">
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
      <div class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-10-m .w-10-l</div>
    </div>

    <div class="w-100 h3 mb4 mb1-m mb0-l">
      <div class="fl w-100 w-two-thirds-m w-two-thirds-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-two-thirds</div>
      <div class="fl w-100 w-third-m w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-third</div>
    </div>

    <div class="w-100 h4 mb5 h3-m h3-l mb0-m mb0-l">
      <div class="fl w-100 w-third-m w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-third-m .w-third-l</div>
      <div class="fl w-100 w-third-m w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-third-m .w-third-l</div>
      <div class="fl w-100 w-third-m w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-third-m .w-third-l</div>
    </div>

    <div class="w-100 h3 mb4 mb1-m mb0-l">
      <div class="fl w-100 w-50-m w-50-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-50-m .w-50-l</div>
      <div class="fl w-100 w-50-m w-50-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-50-m .w-50-l</div>
    </div>
  </div>

  <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdiv class="w-100 h5 mb6 h4-m h3-l mb4-m mb4-l"&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
  &ltdiv class="fl w-100 w-10-m w-10-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-10-m .w-10-l&lt/div&gt
&lt/div&gt

&ltdiv class="w-100 h3 mb4 mb1-m mb0-l"&gt
  &ltdiv class="fl w-100 w-two-thirds-m w-two-thirds-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-two-thirds&lt/div&gt
  &ltdiv class="fl w-100 w-third-m w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-third&lt/div&gt
&lt/div&gt

&ltdiv class="w-100 h4 mb5 h3-m h3-l mb0-m mb0-l"&gt
  &ltdiv class="fl w-100 w-third-m w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-third-m .w-third-l&lt/div&gt
  &ltdiv class="fl w-100 w-third-m w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-third-m .w-third-l&lt/div&gt
  &ltdiv class="fl w-100 w-third-m w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-third-m .w-third-l&lt/div&gt
&lt/div&gt

&ltdiv class="w-100 h3 mb4 mb1-m mb0-l"&gt
  &ltdiv class="fl w-100 w-50-m w-50-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-50-m .w-50-l&lt/div&gt
  &ltdiv class="fl w-100 w-50-m w-50-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-50-m .w-50-l&lt/div&gt
&lt/div&gt
  </pre>

  <h2>Example: Fluid container</h2>
  <p>
    Grid layouts can have a fixed width by using any of:
    <ul>
      <li class="mv2"><code class="red bg-washed-red ph1 br2">w1</code></li>
      <li class="mv2"><code class="red bg-washed-red ph1 br2">w2</code></li>
      <li class="mv2"><code class="red bg-washed-red ph1 br2">w3</code></li>
      <li class="mv2"><code class="red bg-washed-red ph1 br2">w4</code></li>
      <li class="mv2"><code class="red bg-washed-red ph1 br2">w5</code></li>
    </ul>
    in the outer wrapping div.
  </p>

  <p>
    By using <code class="red bg-washed-red ph1 br2">w-100</code> on the outer div, the grid will have a
    full-width layout.
  </p>

  <h2>Example: Mobile and desktop</h2>
  <p>
    Want your columns to display differently on desktop? You can add
    <code class="red bg-washed-red ph1 br2">-l</code> to the end of the classes to change the
    width for columns for desktop screens.
  </p>

  <div class="">
    <div class="w-100 h3 mb4 mb3-m mb0-l">
      <div class="fl w-100 w-two-thirds-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-two-thirds-l</div>
      <div class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50 .w-third-l</div>
    </div>

    <div class="w-100 h3">
      <div class="cf"></div>
      <div class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50 .w-third-l</div>
      <div class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50 .w-third-l</div>
      <div class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50 .w-third-l</div>
    </div>
  </div>

  <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdiv class="w-100 h3 mb4 mb3-m mb0-l"&gt
  &ltdiv class="fl w-100 w-two-thirds-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-two-thirds-l&lt/div&gt
  &ltdiv class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50 .w-third-l&lt/div&gt
&lt/div&gt

&ltdiv class="w-100 h3"&gt
  &ltdiv class="cf"&gt&lt/div&gt
  &ltdiv class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50 .w-third-l&lt/div&gt
  &ltdiv class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50 .w-third-l&lt/div&gt
  &ltdiv class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50 .w-third-l&lt/div&gt
&lt/div&gt
  </pre>

  <div class="cf"></div>
  <h2>Example: Mobile, tablet, desktop</h2>
  <p>
    You can build on the previous example by adding on <code class="red bg-washed-red ph1 br2">-ns</code> or
    <code class="red bg-washed-red ph1 br2">-m</code> to the classes for tablets.
  </p>
  <div class="">
    <div class="w-100 h4 h3-m h3-l mb1 mb0-m mb0-l">
      <div class="fl w-100 w-50-ns w-50-m w-two-thirds-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-100 .w-50-ns .w-50-m .w-two-thirds-l</div>
      <div class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50 .w-third-l</div>
    </div>

    <div class="w-100 h4 h3-m h3-l mb1 mb0-m mb0-l">
      <div class="cf"></div>
      <div class="fl w-50 w-third-ns w-third-m pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50 .w-third-ns .w-third-m</div>
      <div class="fl w-50 w-third-ns w-third-m pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50 .w-third-ns .w-third-m</div>
      <div class="fl w-50 w-third-ns w-third-m pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50 .w-third-ns .w-third-m</div>
    </div>
  </div>
  <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdiv class="w-100 h4 h3-m h3-l mb1 mb0-m mb0-l"&gt
  &ltdiv class="fl w-100 w-50-ns w-50-m w-two-thirds-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-100 .w-50-ns .w-50-m .w-two-thirds-l&lt/div&gt
  &ltdiv class="fl w-50 w-third-l pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50 .w-third-l&lt/div&gt
&lt/div&gt

&ltdiv class="w-100 h4 h3-m h3-l mb1 mb0-m mb0-l"&gt
  &ltdiv class="cf"&gt&lt/div&gt
  &ltdiv class="fl w-50 w-third-ns w-third-m pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50 .w-third-ns .w-third-m&lt/div&gt
  &ltdiv class="fl w-50 w-third-ns w-third-m pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50 .w-third-ns .w-third-m&lt/div&gt
  &ltdiv class="fl w-50 w-third-ns w-third-m pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50 .w-third-ns .w-third-m&lt/div&gt
&lt/div&gt
  </pre>

  <div class="cf"></div>
  <h2>Example: Column wrapping</h2>
  <p>
    If the columns taking up more than 100% width are placed in a single row,
    the extra columns will wrap onto a new line.
  </p>

  <div class="w-100 h3">
    <div class="fl w-90 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-90</div>
    <div class="fl w-30 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">
      <p>.w-30</p>
      <p>Since 90 + 30 > 100, this 30% width div gets wrapped onto a new line.</p>
    </div>
    <div class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">
      <p>.w-50</p>
      <p>Subsequent columns continue alone the new line.</p>
    </div>
  </div>
  <div class="cf"></div>
  <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdiv class="w-100 h3"&gt
  &ltdiv class="fl w-90 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-90&lt/div&gt
  &ltdiv class="fl w-30 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt
    &ltp&gt.w-30&lt/p&gt
    &ltp&gtSince 90 + 30 &gt 100, this 30% width div gets wrapped onto a new line.&lt/p&gt
  &lt/div&gt
  &ltdiv class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt
    &ltp&gt.w-50&lt/p&gt
    &ltp&gtSubsequent columns continue alone the new line.&lt/p&gt
  &lt/div&gt
&lt/div&gt
  </pre>

  <div class="cf"></div>
  <h2>Responsive column resets</h2>
  <div class="w-100 h3">
    <div class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">
      <p>.w-50</p>
      <p>This section is going to be a lot taller than the other sections.</p>
    </div>
    <div class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50</div>
    <div class="cf"></div>
    <div class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50</div>
    <div class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal">.w-50</div>
  </div>
  <div class="cf"></div>
  <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdiv class="w-100 h3"&gt
  &ltdiv class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt
    &ltp&gt.w-50&lt/p&gt
    &ltp&gtThis section is going to be a lot taller than the other sections.&lt/p&gt
  &lt/div&gt
  &ltdiv class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50&lt/div&gt
  &ltdiv class="cf"&gt&lt/div&gt
  &ltdiv class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50&lt/div&gt
  &ltdiv class="fl w-50 pa2 bg-dwyl-teal ba b--dwyl-dark-teal"&gt.w-50&lt/div&gt
&lt/div&gt
  </pre>

  <div class="cf"></div>
  <h2>Nesting columns</h2>
  <p>
    To nest content, you will need to add an extra div with the class
    <code class="red bg-washed-red ph1 br2">cf</code>. Nested rows should still use columns that add up to 100%
    or less.
  </p>
  <div class="w-100 pv4 bg-dwyl-teal ba b--dwyl-dark-teal">
    <p class="ph2 ma0">Level 1: .w-100</p>
    <div class="cf">
      <div class="w-100">
        <div class="fl w-50 pa2 bg-dwyl-dark-teal ba b--dwyl-darkest-teal">
          Level 2: .w-50
        </div>
        <div class="fl w-50 pa2 bg-dwyl-dark-teal ba b--dwyl-darkest-teal">
          Level 2: .w-50
        </div>
      </div>
    </div>
  </div>

  <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdiv class="w-100 pv4 bg-dwyl-teal ba b--dwyl-dark-teal"&gt
  &ltp class="ph2 ma0"&gtLevel 1: .w-100&lt/p&gt
  &ltdiv class="cf"&gt
    &ltdiv class="w-100"&gt
      &ltdiv class="fl w-50 pa2 bg-pink ba b--dark-pink"&gt
        Level 2: .w-50
      &lt/div&gt
      &ltdiv class="fl w-50 pa2 bg-pink ba b--dark-pink"&gt
        Level 2: .w-50
      &lt/div&gt
    &lt/div&gt
  &lt/div&gt
&lt/div&gt
  </pre>
</article>
