<article class="sans-serif w-70 center">
  <h1 class="bb b--black-10">Grid system</h1>
  <h2>Media queries</h2>
  <p>We use the following media queries in our files to create the key breakpoints in our grid system:</p>
  <img src="https://cloud.githubusercontent.com/assets/16775804/26623930/368e46f2-45e7-11e7-9b86-99bfe1c9d3e0.png" width=500px />
  <h2>Grid options</h2>
  <h2>Example: Stacked-to-horizontal</h2>
  <div class="">
    <div class="w-100 h2 mb4">
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
      <div class="fl w-10 pa2 bg-light-pink ba b--pink">.w-10</div>
    </div>

    <div class="w-100 h2 mb4">
      <div class="fl w-two-thirds pa2 bg-light-pink ba b--pink">.w-two-thirds</div>
      <div class="fl w-third pa2 bg-light-pink ba b--pink">.w-third</div>
    </div>

    <div class="w-100 h2 mb4">
      <div class="fl w-third pa2 bg-light-pink ba b--pink">.w-third</div>
      <div class="fl w-third pa2 bg-light-pink ba b--pink">.w-third</div>
      <div class="fl w-third pa2 bg-light-pink ba b--pink">.w-third</div>
    </div>

    <div class="w-100 h2 mb4">
      <div class="fl w-50 pa2 bg-light-pink ba b--pink">.w-50</div>
      <div class="fl w-50 pa2 bg-light-pink ba b--pink">.w-50</div>
    </div>
  </div>

</article>
