<article class="sans-serif w-70 center mb5">
    <h1 class="bb b--black-10">Navbar</h1>
    <h3>Basic example</h3>
    <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
        <p class="mt0 f6 fw6 silver">EXAMPLE</p>
        <nav class="bg-light-purple flex justify-between items-center pa3">
            <div id="logo">
                <a class="link" href="#">
                    <strong class="white f3">LOGO</strong>
                </a>
            </div>
            <div class="dn db-ns">
                <a class="link white dbi pv3 ph2" href="#">About</a>
                <a class="link white dbi pv3 ph2" href="#">Shop</a>
                <a class="link white dbi pv3 ph2" href="#">Support</a>
                <a class="link white dbi pv3 ph2" href="#">Blog</a>
            </div>
            <div class="dn-ns">
                <button type="button" class="bn bg-transparent pa1 white">
                    <!-- Mobile menu icon from https://github.com/sschoger/heroicons-ui -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/></svg>
                </button>
            </div>
        </nav>
        <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&lt;nav class=&quot;bg-light-purple flex justify-between items-center pa3&quot;&gt;
&lt;div id=&quot;logo&quot;&gt;
    &lt;a class=&quot;link&quot; href=&quot;#&quot;&gt;
        &lt;strong class=&quot;white f3&quot;&gt;LOGO&lt;/strong&gt;
    &lt;/a&gt;
&lt;/div&gt;
&lt;div class=&quot;dn db-ns&quot;&gt;
    &lt;a class=&quot;link white dbi pv3 ph2&quot; href=&quot;#&quot;&gt;About&lt;/a&gt;
    &lt;a class=&quot;link white dbi pv3 ph2&quot; href=&quot;#&quot;&gt;Shop&lt;/a&gt;
    &lt;a class=&quot;link white dbi pv3 ph2&quot; href=&quot;#&quot;&gt;Support&lt;/a&gt;
    &lt;a class=&quot;link white dbi pv3 ph2&quot; href=&quot;#&quot;&gt;Blog&lt;/a&gt;
&lt;/div&gt;
&lt;div class=&quot;dn-ns&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;bn bg-transparent pa1 white&quot;&gt;
        &lt;!-- Mobile menu icon from https://github.com/sschoger/heroicons-ui --&gt;
        &lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; width=&quot;24&quot; height=&quot;24&quot;&gt;&lt;path class=&quot;heroicon-ui&quot; d=&quot;M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z&quot;/&gt;&lt;/svg&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;/nav&gt;
        </pre>
    </div>
</article>