<article class="sans-serif w-70 center mb5">
  <h1 class="bb b--black-10">Tables</h1>

  <h3>Basic example</h3>
  <p>
    For basic styling—light padding and only horizontal dividers.
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <table class="w-100 collapse ph2">
      <caption class="mt0 silver tl">Optional table caption</caption>
      <thead>
        <tr class="bb b--silver">
          <th class="tl pv3 ph2">#</th>
          <th class="tl pv3">First Name</th>
          <th class="tl pv3">Last Name</th>
          <th class="tl pv3">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">1</th>
          <td class="pv3">Mark</td>
          <td class="pv3">Otto</td>
          <td class="pv3">@mdo</td>
        </tr>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">2</th>
          <td class="pv3">Jacob</td>
          <td class="pv3">Thornton</td>
          <td class="pv3">@fat</td>
        </tr>
        <tr>
          <th class="tl ph2">3</th>
          <td class="pv3">Larry</td>
          <td class="pv3">the Bird</td>
          <td class="pv3">@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Striped rows</h3>
  <p>Add a background colour to every other row for a striped table.</p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <table class="w-100 collapse">
      <thead>
        <tr class="bb b--silver">
          <th class="tl pv3 ph2">#</th>
          <th class="tl pv3">First Name</th>
          <th class="tl pv3">Last Name</th>
          <th class="tl pv3">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bb b--moon-gray bg-light-gray">
          <th class="tl ph2">1</th>
          <td class="pv3">Mark</td>
          <td class="pv3">Otto</td>
          <td class="pv3">@mdo</td>
        </tr>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">2</th>
          <td class="pv3">Jacob</td>
          <td class="pv3">Thornton</td>
          <td class="pv3">@fat</td>
        </tr>
        <tr class="bg-light-gray">
          <th class="tl ph2">3</th>
          <td class="pv3">Larry</td>
          <td class="pv3">the Bird</td>
          <td class="pv3">@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Bordered table</h3>
  <p>
    Add <code class="red bg-washed-red ph1 br2">ba</code> to the <code class="red bg-washed-red ph1 br2">table</code> for borders on all sides
    of the table.
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <table class="w-100 collapse ph2 ba b--moon-gray">
      <thead>
        <tr class="bb b--silver">
          <th class="tl pv3 ph2">#</th>
          <th class="tl pv3">First Name</th>
          <th class="tl pv3">Last Name</th>
          <th class="tl pv3">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">1</th>
          <td class="pv3">Mark</td>
          <td class="pv3">Otto</td>
          <td class="pv3">@mdo</td>
        </tr>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">2</th>
          <td class="pv3">Jacob</td>
          <td class="pv3">Thornton</td>
          <td class="pv3">@fat</td>
        </tr>
        <tr>
          <th class="tl ph2">3</th>
          <td class="pv3">Larry</td>
          <td class="pv3">the Bird</td>
          <td class="pv3">@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Hover rows</h3>
  <p>
    Add <code class="red bg-washed-red ph1 br2">hover-bg-colourofchoice</code> on each row to enable a hover
    state on the rows.
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <table class="w-100 collapse ph2">
      <thead>
        <tr class="bb b--silver">
          <th class="tl pv3 ph2">#</th>
          <th class="tl pv3">First Name</th>
          <th class="tl pv3">Last Name</th>
          <th class="tl pv3">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bb b--moon-gray hover-bg-light-gray">
          <th class="tl ph2">1</th>
          <td class="pv3">Mark</td>
          <td class="pv3">Otto</td>
          <td class="pv3">@mdo</td>
        </tr>
        <tr class="bb b--moon-gray hover-bg-light-gray">
          <th class="tl ph2">2</th>
          <td class="pv3">Jacob</td>
          <td class="pv3">Thornton</td>
          <td class="pv3">@fat</td>
        </tr>
        <tr class="hover-bg-light-gray">
          <th class="tl ph2">3</th>
          <td class="pv3">Larry</td>
          <td class="pv3">the Bird</td>
          <td class="pv3">@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Condensed table</h3>
  <p>
    Cut the padding in half to have a more compact table. Since padding
    increases by multiples of 2 in tachyons, this is accomplished by going down
    by one on all of your padding. For example, if you were using
    <code class="red bg-washed-red ph1 br2">pv3</code>, you can halve this by instead using <code class="red bg-washed-red ph1 br2">pv2</code>.
  </p>

  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <table class="w-100 collapse ph1">
      <thead>
        <tr class="bb b--silver">
          <th class="tl pv2 ph1">#</th>
          <th class="tl pv2">First Name</th>
          <th class="tl pv2">Last Name</th>
          <th class="tl pv2">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bb b--moon-gray">
          <th class="tl ph1">1</th>
          <td class="pv2">Mark</td>
          <td class="pv2">Otto</td>
          <td class="pv2">@mdo</td>
        </tr>
        <tr class="bb b--moon-gray">
          <th class="tl ph1">2</th>
          <td class="pv2">Jacob</td>
          <td class="pv2">Thornton</td>
          <td class="pv2">@fat</td>
        </tr>
        <tr>
          <th class="tl ph1">3</th>
          <td class="pv2">Larry</td>
          <td class="pv2">the Bird</td>
          <td class="pv2">@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Contextual classes</h3>
  <p>
    Add contextual colouring to table rows or individual cells. For highlighting
    whole rows, add the background colour on the <code class="red bg-washed-red ph1 br2">tr</code> tag. For
    highlighting a single cell, add the background colour to a <code class="red bg-washed-red ph1 br2">th</code>
    or <code class="red bg-washed-red ph1 br2">td</code> tag.
  </p>

  <table class="w-100 collapse ba b--light-gray mb4">
    <thead>
      <tr class="bb b--silver">
        <th class="tl pv3 ph2">Class</th>
        <th class="tl pv3">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bb b--moon-gray bg-light-gray">
        <th class="tl ph2 fw4"><code class="red bg-washed-red ph1 br2">.bg-light-gray</code></th>
        <td class="pv3">Applies the hover color to a particular row or cell</td>
      </tr>
      <tr class="bb b--moon-gray">
        <th class="tl ph2 fw4"><code class="red bg-washed-red ph1 br2">.bg-light-green</code></th>
        <td class="pv3">Indicates a successful or positive action</td>
      </tr>
      <tr class="bb b--moon-gray bg-light-gray">
        <th class="tl ph2 fw4"><code class="red bg-washed-red ph1 br2">.bg-light-blue</code></th>
        <td class="pv3">Indicates a neutral informative change or action</td>
      </tr>
      <tr class="bb b--moon-gray">
        <th class="tl ph2 fw4"><code class="red bg-washed-red ph1 br2">.bg-light-yellow</code></th>
        <td class="pv3">Indicates a warning that might need attention</td>
      </tr>
      <tr class="bg-light-gray">
        <th class="tl ph2 fw4"><code class="red bg-washed-red ph1 br2">.bg-washed-red</code></th>
        <td class="pv3">Indicates a dangerous or potentially negative action</td>
      </tr>
    </tbody>
  </table>

  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <table class="w-100 collapse ph2">
      <thead>
        <tr class="bb b--silver">
          <th class="tl pv3 ph2">#</th>
          <th class="tl pv3">Column heading</th>
          <th class="tl pv3">Column heading</th>
          <th class="tl pv3">Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bb b--moon-gray bg-light-gray">
          <th class="tl ph2">1</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">2</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
        <tr class="bb b--moon-gray bg-light-green">
          <th class="tl ph2">3</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">4</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
        <tr class="bb b--moon-gray bg-light-blue">
          <th class="tl ph2">5</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">6</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
        <tr class="bb b--moon-gray bg-light-yellow">
          <th class="tl ph2">7</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
        <tr class="bb b--moon-gray">
          <th class="tl ph2">8</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
        <tr class="bg-washed-red">
          <th class="tl ph2">9</th>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
          <td class="pv3">Column content</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Responsive tables</h3>
  <p>
    You can make tables scroll horizontally on mobile devices by wrapping the
    table in a <code class="red bg-washed-red ph1 br2">div</code> with the classes
    <code class="red bg-washed-red ph1 br2">overflow-y-hidden overflow-x-auto nowrap</code>.
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <div class="overflow-y-hidden overflow-x-auto nowrap">
      <table class="w-100 collapse ph2">
        <thead>
          <tr class="bb b--silver">
            <th class="tl pv3 ph2">#</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bb b--moon-gray">
            <th class="tl ph2">1</th>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
          </tr>
          <tr class="bb b--moon-gray">
            <th class="tl ph2">2</th>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
          </tr>
          <tr>
            <th class="tl ph2">3</th>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="overflow-y-hidden overflow-x-auto nowrap mt4">
      <table class="w-100 collapse ph2 ba b--light-gray">
        <thead>
          <tr class="bb b--silver">
            <th class="tl pv3 ph2">#</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
            <th class="tl pv3 pr3">Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bb b--moon-gray">
            <th class="tl ph2">1</th>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
          </tr>
          <tr class="bb b--moon-gray">
            <th class="tl ph2">2</th>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
          </tr>
          <tr>
            <th class="tl ph2">3</th>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
            <td class="pv3">Table cell</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div
</article>
