<article class="sans-serif w-70 center">
  <h1 class="bb b--black-10">Typography</h1>
  <h2>Headings</h2>
  <p>
    All html headings, <code class="red bg-washed-red ph1 br2">&lth1&gt</code>
    through <code class="red bg-washed-red ph1 br2">&lth6&gt, are available.</code>
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <h1>h1. Tachyons Bootstrap heading</h1>
    <h2>h2. Tachyons Bootstrap heading</h2>
    <h3>h3. Tachyons Bootstrap heading</h3>
    <h4>h4. Tachyons Bootstrap heading</h4>
    <h5>h5. Tachyons Bootstrap heading</h5>
    <h6>h6. Tachyons Bootstrap heading</h6>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&lth1&gth1. Tachyons Bootstrap heading&lt/h1&gt
&lth2&gth2. Tachyons Bootstrap heading&lt/h2&gt
&lth3&gth3. Tachyons Bootstrap heading&lt/h3&gt
&lth4&gth4. Tachyons Bootstrap heading&lt/h4&gt
&lth5&gth5. Tachyons Bootstrap heading&lt/h5&gt
&lth6&gth6. Tachyons Bootstrap heading&lt/h6&gt</pre>
  </div>

  <p>
    Create lighter, secondary text by adding the
    <code class="red bg-washed-red ph1 br2">&ltsmall&gt</code> tag.
  </p>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <h1>h1. Tachyons Bootstrap heading <small class="fw4 gray">Secondary text</small></h1>
    <h2>h2. Tachyons Bootstrap heading <small class="fw4 gray">Secondary text</small></h2>
    <h3>h3. Tachyons Bootstrap heading <small class="fw4 gray">Secondary text</small></h3>
    <h4>h4. Tachyons Bootstrap heading <small class="fw4 gray">Secondary text</small></h4>
    <h5>h5. Tachyons Bootstrap heading <small class="fw4 gray">Secondary text</small></h5>
    <h6>h6. Tachyons Bootstrap heading <small class="fw4 gray">Secondary text</small></h6>

    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&lth1&gth1. Tachyons Bootstrap heading &ltsmall class="fw4 gray"&gtSecondary text&lt/small&gt&lt/h1&gt
&lth2&gth2. Tachyons Bootstrap heading &ltsmall class="fw4 gray"&gtSecondary text&lt/small&gt&lt/h2&gt
&lth3&gth3. Tachyons Bootstrap heading &ltsmall class="fw4 gray"&gtSecondary text&lt/small&gt&lt/h3&gt
&lth4&gth4. Tachyons Bootstrap heading &ltsmall class="fw4 gray"&gtSecondary text&lt/small&gt&lt/h4&gt
&lth5&gth5. Tachyons Bootstrap heading &ltsmall class="fw4 gray"&gtSecondary text&lt/small&gt&lt/h5&gt
&lth6&gth6. Tachyons Bootstrap heading &ltsmall class="fw4 gray"&gtSecondary text&lt/small&gt&lt/h6&gt</pre>
  </div>
  <h2>Body copy</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p class="f6">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam
      id dolor id nibh ultricies vehicula.
    </p>
    <p class="f6">
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis
      mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
      odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
    </p>
    <p class="f6">
      Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id
      elit non mi porta gravida at eget metus. Duis mollis, est non commodo
      luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltp class="f6"&gtNullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam
  id dolor id nibh ultricies vehicula.
&lt/p&gt
&ltp class="f6"&gt
  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
  ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis
  mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
  odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
&lt/p&gt
&ltp class="f6"&gt
  Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id
  elit non mi porta gravida at eget metus. Duis mollis, est non commodo
  luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
&lt/p&gt</pre>
  </div>

  <h3>Lead body copy</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p class="f4 fw3 lh-copy">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus.
    </p>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltp class="f4 fw3 lh-copy"&gt
  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  Duis mollis, est non commodo luctus.
&lt/p&gt</pre>
  </div>

  <h2>Inline text element</h2>
  <h3>Marked text</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    You can use the mark tag to <mark class="bg-light-yellow ph1">highlight</mark> text.
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
You can use the mark tag to &ltmark class="bg-light-yellow ph1"&gthighlight&lt/mark&gt text.</pre>
  </div>

  <h3>Deleted text</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <del>This line of text is meant to be treated as deleted text.</del>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
  &ltdel&gtThis line of text is meant to be treated as deleted text.&lt/del&gt</pre>
  </div>

  <h3>Strikethrough text</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <s>This line of text is meant to be treated as no longer accurate.</s>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&lts&gtThis line of text is meant to be treated as no longer accurate.&lt/s&gt</pre>
  </div>

  <h3>Inserted text</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <ins>This line of text is meant to be treated as an addition to the document.</ins>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltins&gtThis line of text is meant to be treated as an addition to the document.&lt/ins&gt</pre>
  </div>

  <h3>Underlined text</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <u>This line of text will render as underlined</u>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltu&gtThis line of text will render as underlined&lt/u&gt</pre>
  </div>

  <h3>Small text</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <small>This line of text is meant to be treated as fine print.</small>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltsmall&gtThis line of text is meant to be treated as fine print.&lt/small&gt</pre>
  </div>

  <h3>Bold text</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <strong>rendered as bold text</strong>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltstrong&gtrendered as bold text&lt/strong&gt</pre>
  </div>

  <h3>Italics</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <em>rendered as italicized text</em>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltem&gtrendered as italicized text&lt/em&gt</pre>
  </div>

  <h2>Alignment classes</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p class="tl">Left aligned text.</p>
    <p class="tc">Center aligned text.</p>
    <p class="tr">Right aligned text.</p>
    <p class="nowrap">No wrap text.</p>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltp class="tl"&gtLeft aligned text.&lt/p&gt
&ltp class="tc"&gtCenter aligned text.&lt/p&gt
&ltp class="tr"&gtRight aligned text.&lt/p&gt
&ltp class="nowrap"&gtNo wrap text.&lt/p&gt</pre>
  </div>

  <h2>Transformation classes</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p class="ttl">Lowercased text.</p>
    <p class="ttu">Uppercased text.</p>
    <p class="ttc">Capitalized text.</p>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltp class="ttl"&gtLowercased text.&lt/p&gt
&ltp class="ttu"&gtUppercased text.&lt/p&gt
&ltp class="ttc"&gtCapitalized text.&lt/p&gt</pre>
  </div>

  <h2>Abbrieviations</h2>
  <h3>Basic abbreviation</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p>An abbreviation of the word attribute is <abbr class="f6" title="attribute">attr</abbr></p>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltp&gtAn abbreviation of the word attribute is &ltabbr class="f6" title="attribute"&gtattr&lt/abbr&gt&lt/p&gt</pre>
  </div>

  <h3>Initialism</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <p>Tachyons is built using functional <abbr title="HyperText Markup Language" class="ttu f6">CSS</abbr>.</p>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">Tachyons is built using functional
&ltp&gt&ltabbr title="HyperText Markup Language" class="ttu f6"&gtCSS&lt/abbr&gt.&lt/p&gt</pre>
  </div>

  <h2>Addresses</h2>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <address class="fs-normal mb3">
    <strong>dwyl</strong><br>
    Focus Hub, Unit 16 Palmers Road,<br>
    London E2 0SY<br>
    <abbr title="Phone">P:</abbr> 07708 796446
    </address>

    <address class="fs-normal">
      <strong>Ines Teles</strong><br>
      <a href="mailto:hello@dwyl.com" class="no-underline">hello@dwyl.com</a>
    </address>

    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltaddress class="fs-normal mb3"&gt
&ltstrong&gtdwyl&lt/strong&gt&ltbr&gt
Focus Hub, Unit 16 Palmers Road,&ltbr&gt
London E2 0SY&ltbr&gt
&ltabbr title="Phone"&gtP:&lt/abbr&gt 07708 796446
&lt/address&gt

&ltaddress class="fs-normal"&gt
  &ltstrong&gtInes Teles&lt/strong&gt&ltbr&gt
  &lta href="mailto:hello@dwyl.com" class="no-underline"&gthello@dwyl.com&lt/a&gt
&lt/address&gt</pre>
  </div>

  <h2>Blockquotes</h2>
  <h3>Default blockquote</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <blockquote class="f4 bl b--black-20 bw2 pl4 ml0">
      <p>Do what you love.</p>
    </blockquote>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltblockquote class="f4 bl b--black-20 bw2 pl4 ml0"&gt
  &ltp&gtDo what you love.&lt/p&gt
&lt/blockquote&gt</pre>
  </div>

  <h3>Blockquote options</h3>
  <h4>Naming a source</h4>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <blockquote class="f4 bl b--black-20 bw2 pl4 ml0">
      <p>Do what you love</p>
      <footer class="f6 gray">&#x2014 Ines Teles in <cite title="Source Title" class="i">dwyl's values</cite></footer>
    </blockquote>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltblockquote class="f4 bl b--black-20 bw2 pl4 ml0"&gt
  &ltp&gtDo what you love&lt/p&gt
  &ltfooter class="f6 gray"&gt&#x2014 Ines Teles in &ltcite title="Source Title" class="i"&gtdwyl's values&lt/cite&gt&lt/footer&gt
&lt/blockquote&gt</pre>
  </div>

  <h4>Alternate displays</h4>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <blockquote class="f4 tr br b--black-20 bw2 pr4 mr0">
      <p>Do what you love</p>
      <footer class="f6 gray">Ines Teles in <cite title="Source Title" class="i">dwyl's values&#x2014</cite></footer>
    </blockquote>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltblockquote class="f4 tr br b--black-20 bw2 pr4 mr0"&gt
  &ltp&gtDo what you love&lt/p&gt
  &ltfooter class="f6 gray"&gtInes Teles in &ltcite title="Source Title" class="i"&gtdwyl's values&#x2014&lt/cite&gt&lt/footer&gt
&lt/blockquote&gt</pre>
  </div>

  <h2>Lists</h2>
  <h3>Unordered</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <ul class="f6 lh-copy">
      <li>Open source component library</li>
      <li>Lightweight - fewer than 14kb</li>
      <li>Accessible Color Palette</li>
      <li>Mobile-first architecture</li>
      <li>Composable classes
        <ul>
          <li>Construct anything from complex layouts to responsive components
      with a series of single purpose classes</li>
          <li>Avoids new team members breaking unfamiliar code</li>
          <li>Easy to customise components in different circumstances</li>
          <li>Doesn't result in excessively long CSS files</li>
          <li>"Two CSS properties walk into a bar. A barstool in a completely different bar falls over." - not with functional CSS.</li>
        </ul>
      </li>
    </ul>

    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltul class="f6 lh-copy"&gt
  &ltli&gtOpen source component library&lt/li&gt
  &ltli&gtLightweight - fewer than 14kb&lt/li&gt
  &ltli&gtAccessible Color Palette&lt/li&gt
  &ltli&gtMobile-first architecture&lt/li&gt
  &ltli&gtComposable classes
    &ltul&gt
      &ltli&gtConstruct anything from complex layouts to responsive components
      with a series of single purpose classes&lt/li&gt
      &ltli&gtAvoids new team members breaking unfamiliar code&lt/li&gt
      &ltli&gtEasy to customise components in different circumstances&lt/li&gt
      &ltli&gtDoesn't result in excessively long CSS files&lt/li&gt
      &ltli&gt"Two CSS properties walk into a bar. A barstool in a completely different bar falls over." - not with functional CSS.&lt/li&gt
    &lt/ul&gt
  &lt/li&gt
&lt/ul&gt</pre>
  </div>

  <h3>Ordered</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <ol class="f6 lh-copy">
      <li>Open source component library</li>
      <li>Lightweight - fewer than 14kb</li>
      <li>Accessible Color Palette</li>
      <li>Mobile-first architecture</li>
      <li>Composable classes</li>
      <li>Construct anything from complex layouts to responsive components
  with a series of single purpose classes</li>
    </ol>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltol class="f6 lh-copy"&gt
  &ltli&gtOpen source component library&lt/li&gt
  &ltli&gtLightweight - fewer than 14kb&lt/li&gt
  &ltli&gtAccessible Color Palette&lt/li&gt
  &ltli&gtMobile-first architecture&lt/li&gt
  &ltli&gtComposable classes&lt/li&gt
  &ltli&gtConstruct anything from complex layouts to responsive components
  with a series of single purpose classes&lt/li&gt
&lt/ol&gt</pre>
  </div>

  <h3>Unstyled</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <ul class="f6 lh-copy list pl0">
      <li>Open source component library</li>
      <li>Lightweight - fewer than 14kb</li>
      <li>Accessible Color Palette</li>
      <li>Mobile-first architecture</li>
      <li>Composable classes
        <ul>
          <li>Construct anything from complex layouts to responsive components
            with a series of single purpose classes</li>
        </ul>
      </li>
    </ul>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltul class="f6 lh-copy list pl0"&gt
  &ltli&gtOpen source component library&lt/li&gt
  &ltli&gtLightweight - fewer than 14kb&lt/li&gt
  &ltli&gtAccessible Color Palette&lt/li&gt
  &ltli&gtMobile-first architecture&lt/li&gt
  &ltli&gtComposable classes
    &ltul&gt
      &ltli&gtConstruct anything from complex layouts to responsive components
      with a series of single purpose classes&lt/li&gt
    &lt/ul&gt
  &lt/li&gt
&lt/ul&gt</pre>
  </div>

  <h3>Inline</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <ul class="f6 lh-copy list pl0">
      <li class="dib ph2">Easy to Customize and extend</li>
      <li class="dib ph2">Responsive Grid</li>
      <li class="dib ph2">Shallow Cascade</li>
    </ul>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltul class="f6 lh-copy list pl0"&gt
  &ltli class="dib ph2"&gtEasy to Customize and extend&lt/li&gt
  &ltli class="dib ph2"&gtResponsive Grid&lt/li&gt
  &ltli class="dib ph2"&gtShallow Cascade&lt/li&gt
&lt/ul&gt</pre>
  </div>

  <h3>Description</h3>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <dl class="f6 lh-copy">
      <dt class="b">Description lists</dt>
      <dd class="ml0">A description list is perfect for defining terms.</dd>
      <dt class="b">dwyl</dt>
      <dd class="ml0">Community of people on a mission to change the world using technology.</dd>
      <dt class="b">Malesuada porta</dt>
      <dd class="ml0">Donec id elit non mi porta gravida at eget metus.</dd>
      <dd class="ml0">Etiam porta sem malesuada magna mollis euismod.</dd>
    </dl>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdl class="f6 lh-copy"&gt
  &ltdt class="b"&gtDescription lists&lt/dt&gt
  &ltdd class="ml0"&gtA description list is perfect for defining terms.&lt/dd&gt
  &ltdt class="b"&gtdwyl&lt/dt&gt
  &ltdd class="ml0"&gtCommunity of people on a mission to change the world using technology.&lt/dd&gt
  &ltdt class="b"&gtMalesuada porta&lt/dt&gt
  &ltdd class="ml0"&gtDonec id elit non mi porta gravida at eget metus.&lt/dd&gt
  &ltdd class="ml0"&gtEtiam porta sem malesuada magna mollis euismod.&lt/dd&gt
&lt/dl&gt</pre>
  </div>

  <h4>Horizontal description</h4>
  <div class="ba br2 b--black-10 shadow-1 pa3 mv3">
    <p class="mt0 f6 fw6 silver">EXAMPLE</p>
    <dl class="f6 lh-copy">
      <dt class="b tr w4 truncate fl">Description lists</dt>
      <dd class="ml6 pl3 tl">A description list is perfect for defining terms.</dd>
      <dt class="b tr w4 truncate fl">dwyl</dt>
      <dd class="ml6 pl3 tl">Community of people on a mission to change the world using technology.</dd>
      <dt class="b tr w4 truncate fl">Malesuada porta</dt>
      <dd class="ml6 pl3 tl">Donec id elit non mi porta gravida at eget metus.</dd>
      <dd class="ml6 pl3 tl">Etiam porta sem malesuada magna mollis euismod.</dd>
      <dt class="b tr w4 truncate fl">Felis euismod semper eget lacinia</dt>
      <dd class="ml6 pl3 tl">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus</dd>
    </dl>
    <pre class="br2 ba b--black-10 bg-light-gray pv3 pl3 pre w-100">
&ltdl class="f6 lh-copy"&gt
  &ltdt class="b tr w4 truncate fl"&gtDescription lists&lt/dt&gt
  &ltdd class="ml6 pl3 tl"&gtA description list is perfect for defining terms.&lt/dd&gt
  &ltdt class="b tr w4 truncate fl"&gtdwyl&lt/dt&gt
  &ltdd class="ml6 pl3 tl"&gtCommunity of people on a mission to change the world using technology.&lt/dd&gt
  &ltdt class="b tr w4 truncate fl"&gtMalesuada porta&lt/dt&gt
  &ltdd class="ml6 pl3 tl"&gtDonec id elit non mi porta gravida at eget metus.&lt/dd&gt
  &ltdd class="ml6 pl3 tl"&gtEtiam porta sem malesuada magna mollis euismod.&lt/dd&gt
  &ltdt class="b tr w4 truncate fl"&gtFelis euismod semper eget lacinia&lt/dt&gt
  &ltdd class="ml6 pl3 tl"&gtFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus&lt/dd&gt
&lt/dl&gt</pre>
  </div>
</article>
