<p class="w-60 center f4">
  Welcome to the Tachyons Bootstrap Standard Components Library.
  This resource has been created to showcase the potential of
  <a href="http://tachyons.io/">Tachyons</a>, functional css.
  As well as to provide a selection of useful components for people to use.
</p>
